<!DOCTYPE html>

<html lang="en">
    <head>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <h1>Welcome to Spring, {{ name }}</h1>
        <ul id="visits"></ul>
        <form>
            <input type="button" value="Кнопка" onClick='location.href="http://codehelper.ru/"'>
        </form>
    </body>
</html>